<% count = 1 %>
<% @articles.each do |article| %>
    <p>
        <h2><%= count %>) <%= link_to article.title, article %></h2><br>
        <h5># <%= article.tag %></h5>            
        <%= time_ago_in_words(article.created_at) %> ago
    </p>
    <hr>
    <% count = count + 1 %>
<% end %>

<%= link_to "New Article", new_article_path %>