<p>
    <p align="right">By: <%= @article.user.email %><br>
    <% if current_user && current_user == @article.user %>
    (You)
    <% end %>        
    </p>
    <h2><%= @article.title %></h2>
    <h5># <%= link_to @article.tag, '/category/' + @article.tag, :class => 'btn btn-link' %></h5>    
    <%= @article.body.html_safe %>

    <br><br>
    <% if current_user && current_user == @article.user %>
        <%= link_to "Edit", edit_article_path %>
        <%= link_to "Delete", article_path, method: :delete %>
    <% end %>
</p>